/* MEDIAQUERY */

@media screen and (min-width: 532px) {
  /* SIDE-BAR */
  .side-bar {
    width: 200px;
  }

  [alt="page-logo-big"] {
    display: block;
    width: 70%;
  }

  [alt="page-logo-small"] {
    display: none;
  }

  .list-item {
    text-align: left;
  }

  .item-name {
    display: inline-block;
    font-size: 0.8rem;
  }

  /* PLAYLIST */

  .playlist-add {
    display: block;
    min-height: 30px;
    padding: 10px 10px;
  }

  .playlist-add strong {
    line-height: 30px;
  }

  .playlist-list {
    display: block;
    overflow-y: auto;
    padding: 10px;
  }

  .fa-plus {
    color: black;
    background-color: grey;
    padding: 10px;
    display: inline-block;
  }

  .playlist-container .list-item {
    margin: 10px 0;
  }

  /* USER */

  .user .d-none {
    display: inline;
  }

  .user {
    text-align: left;
  }

  .user-profile {
    border-top: 1px solid grey;
  }
}
